POSTGRES_USER=rexlopper
POSTGRES_PASSWORD=bryitkids
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=medivault_records_admin
DATABASE_URL=postgresql+psycopg://rexlopper:bryitkids@localhost:5432/medivault_records_admin
